.App {
  min-height: 100vh;
  text-align: center;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.justifyCenter {
  justify-content: center;
}
.selection:hover {
  color: #ffd66f !important;
}
